*{
margin: 0;
padding: 0;
}

body{
    background-color: #26F0F1;
}

#heading{
    background-color:#86A5D9;
    height: 70px;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    color:navy;
    font-style: italic;
    
}

#container{
display: flex; 
   justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 70px;
}



img{
 
    height:200px;
    width: 200px;
    object-fit:contain;
    border-radius: 50%;
    background-color: white;
    
}

img:hover{
cursor:pointer;
opacity: 70%;
box-shadow: 4px 4px 4px rebeccapurple;

}

#score{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 80px;


}

.score{
    text-align: center;
    font-size: 30px;
}

.points{
    font-size: 60px;
    color:
    
}


#result{
    font-family:cursive;
    margin: auto;
    max-width: 700px;
    height: 80px;
    margin-top: 70px;
    border-radius: 3rem;
    font-size: 40px;
    text-align: center;
    background-color: #86A5D9;
line-height: 5rem;
}

button{
    width: 7vw;
    height: 5vh;
    margin-left: 47vw;
    margin-top: 6rem;
    border-radius: 2rem;
    background-color:#86A5D9;
    color:darkblue;
}